---
import GoogleLogo from "../components/GoogleLogo.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import GoogleButtonsList from "../components/GoogleButtonsList.astro";
import GoogleSearchInput from "../components/GoogleSearchInput.astro";
---

<Layout title="Google">
  <Header />

  <main class="h-60 mt-60 flex items-center justify-center flex-col gap-6">
    <GoogleLogo />
    <GoogleSearchInput />
    <GoogleButtonsList />

    <p class="text-[#bdc1c6] font-semibold text-sm">
      Ofrecido por Google en: <a href="#" class="text-[#8ab4f8]">English</a>
    </p>
  </main>
</Layout>
