---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<button
  class="text-white bg-hover-main rounded-md py-2 px-4 border-transparent border-[1px] hover:border-input-border"
>
  {text}
</button>
