---
import GoogleButton from "./GoogleButton.astro";
---

<section class="flex gap-6 flex-col sm:flex-row">
  <GoogleButton text="Buscar con Google" />
  <GoogleButton text="Voy a tener suerte" />
</section>
